doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title Bethel Baptist Church Anaheim
  meta(content='' name='description')
  meta(content='' name='keywords')
  // Favicons
  link(href='assets/img/logo.png' rel='icon')
  link(href='assets/img/apple-touch-icon.png' rel='apple-touch-icon')
  link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous")
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet")
  link(href='assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  link(href='assets/css/style.css' rel='stylesheet')
//- ======= Header =======
header#header.d-flex.align-items-center
  .container-fluid.container-xxl.d-flex.align-items-center
    #logo.me-auto
      a.scrollto(href='index.html')
        img(src='assets/img/logo.png' alt='' title='')
    nav#navbar.navbar.order-last.order-lg-0
      ul
        li
          a.nav-link.scrollto(href='#about') О Нас
        li
          a.nav-link.scrollto(href='#hotels') События
        li
          a.nav-link.scrollto(href='#beliefs') Вероучение
        li
          a.nav-link.scrollto(href='#venue') Местонахождение
        li
          a.nav-link.scrollto(href='#contact') Информация
      i.bi.bi-list.mobile-nav-toggle
    //- .navbar
    a.buy-tickets.scrollto(href='https://youtu.be/mL-GYov8CLY' target='_blank') Прямой Эфир
//- End Header
//- ======= Hero Section =======
section#hero
  .hero-container
    h1.mb-4.pb-0
      | Welcome to 
      br
      span Bethel Baptist Church
      br
      |  of Orange County
    p.mb-4.pb-0 10:30AM - 12:00PM Every Sunday
    a.play-btn.mb-4( target="_blank" href='https://youtu.be/mL-GYov8CLY')
    a.about-btn.scrollto(href='https://youtu.be/mL-GYov8CLY' target='_blank') Live Stream
//- End Hero Section
main#main
  //- ======= About Section =======
  section#about
    .container
      .row
        .col-lg-6
          h2 SUNDAY SERVICE
          p
            | Добро пожаловать на наше воскресное служение где вы можете 
            | услышать чтение и толкование из слова Божия, и также насладиться 
            | духовным пением и стихами. Просим связаться с главным пастором 
            | если у вас есть какое-то участие.
        .col-lg-3
          h3 МЕСТОНАХОЖДЕНИЕ
          p 310 S Lemon St, Anaheim, CA 92805 
          p
          | Mailing address / Почтовый ящик:
          | PO Box 789
          | Anaheim, CA, 92815
          p
        .col-lg-3
          h3 TIME 
          p Sunday at 2:00 PM 
            //- End About Section
  //- ======= Event Section =======
  section#hotels.section-with-bg
    .container
      .section-header
        h2 СОБЫТИЯ
        p Events
      .row
        .col-lg-6.col-md-6
          .hotel
            .hotel-img
              //- <img src="assets/img/hotels/1.jpg" alt="Hotel 1" class="img-fluid">
            h3 SUNDAY MORNING SERVICE 
            p SUNDAY WORSHIP SERVICES
            p Воскресение/Sunday at 2:00PM
            p
              | Добро пожаловать на наше воскресное служение где вы можете 
              | услышать чтение и толкование из слова 
              | Божия, и также насладиться духовным пением и стихами. 
              | Просим связаться с главным пастором если у вас есть 
              | какое-то участие.
        .col-lg-6.col-md-6
          .hotel
            .hotel-img
              //- <img src="assets/img/hotels/2.jpg" alt="Hotel 2" class="img-fluid">
            h3 SUNDAY SCHOOL
            p SUNDAY SCHOOL
            p Вторники/Tuesdays 10:30AM - 12:00AM
            p
              | Изучаем слово Божие Библию. Все могут высказать своё мнение и 
              | прийти к истине.Можно подсоединиться через службу skype добавив 
              | live:rusevchurch и сообщить, что хотите подключиться к разбору.
      .row
        .col-lg-4.col-md-4
          .hotel
            .hotel-img
              //- <img src="assets/img/hotels/2.jpg" alt="Hotel 2" class="img-fluid">
            h3 SUNDAY EVENING SERVICE
            p SUNDAY SCHOOL
            p Вторники/Tuesdays 06:30PM - 08:00PM
            p
              | Изучаем слово Божие Библию. Все могут высказать своё мнение и 
              | прийти к истине.Можно подсоединиться через службу skype добавив 
              | live:rusevchurch и сообщить, что хотите подключиться к разбору.
        .col-lg-4.col-md-4
          .hotel
            .hotel-img
              //- <img src="assets/img/hotels/2.jpg" alt="Hotel 2" class="img-fluid">
            h3 AWANA
            p AWANA
            p Вторники/Tuesdays 06:30PM - 08:00PM
            p
              | Изучаем слово Божие Библию. Все могут высказать своё мнение и 
              | прийти к истине.Можно подсоединиться через службу skype добавив 
              | live:rusevchurch и сообщить, что хотите подключиться к разбору.
        .col-lg-4.col-md-4
          .hotel
            .hotel-img
              //- <img src="assets/img/hotels/2.jpg" alt="Hotel 2" class="img-fluid">
            h3 PRAYER AND BIBLE STUDY
            p PRAYER AND BIBLE STUDY
            p Вторники/Tuesdays 06:30PM - 08:00PM
            p
              | Изучаем слово Божие Библию. Все могут высказать своё мнение и 
              | прийти к истине.Можно подсоединиться через службу skype добавив 
              | live:rusevchurch и сообщить, что хотите подключиться к разбору.



  //- End Event Section
  section#beliefs.section-with-bg
    .container
      .section-header
        h2 ВЕРОУЧЕНИЕ
        p Beliefs
      .row
        .col-lg-6.col-md-6
          ol
            li
              | Мы верим, что Библия – слово Божие, которое было написано 
              | людьми по вдохновению Божьему и является наивысшим авторитетом 
              | в делах веры и жизни.
            li 
              | Мы веруем в Единого Бога, вечно Сущего с трёх лицах: 
              | Отец, Сын и Святой Дух.
            li
              | Мы веруем в Господа Иисуса Христа, зачатого от Духа Святого и 
              | воплотившегося от девы Марии, в Его безгрешную жизнь и в 
              | Его чудеса.

            li
              | Мы веруем в нашего Господа Иисуса Христа, умершего за грехи 
              | наши на кресте и пролившего кровь для освящения нашего и 
              | воскресшего для оправдания нашего.

            li
              | Мы веруем в воскресение нашего Господа Иисуса Христа и Его 
              | ходатайство пред Отцом за нас.

            li 
              | Мы веруем в Его личное и видимое Второе Пришествие на землю 
              | в славе и силе.

        .col-lg-6.col-md-6
          ol(start='7')
            li
              | Мы веруем, что Святой Дух является третьим Лицом Божества, 
              | равно как Бог Отец и Бог Сын.
            li
              | Мы веруем, что Бог сотворил Человека по образу и подобию 
              | Своему, но человек, нарушив заповедь Божию, согрешил и 
              | потерял общение с Богом.
            li
              | Мы веруем, что спасение совершается через веру в Господа Иисуса 
              | Христа, как личного Спасителя.
            li
              | Мы веруем в воскресение спасённых и не спасённых: спасенных 
              | для жизни вечной, а не спасённых для вечного осуждения.

            li
              | Мы веруем, что Церковь – является Телом Господа Иисуса Христа, 
              | Глава которой – Христос, и всякий, исповедавший Иисуса Христа 
              | своим личным Спасителем и вступивший в завет с Ним посредством 
              | крещения через погружение в воду во имя Отца и Сына и Святого 
              | Духа, становится её членом.

            li
              | Мы веруем, что всякий, вступивший в завет с Господом, должен 
              | участвовать в Вечери Господней, которую Он заповедал.

  //- End Event Section
  //- ======= Venue Section =======
  section#venue
    .container-fluid
      .section-header
        h2 МЕСТОНАХОЖДЕНИЕ
        p Location
      .row.g-0
        .col-lg-6.venue-map
          iframe(loading='lazy' src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3314.209369905862!2d-117.9170522843457!3d33.83271083671356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcd6251747be87%3A0x6b5786704c4f5b0e!2sBethel%20Baptist%20Church!5e0!3m2!1sen!2sus!4v1613439057874!5m2!1sen!2sus' width='600' height='450' frameborder='0' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0')
        .col-lg-6.venue-info
          .row.justify-content-center
            .col-11.col-lg-8.position-relative
              h3 Bethel Baptist Church, Anaheim
              p
                | Добро пожаловать на наше воскресное служение где вы 
                | можете услышать чтение и толкование из слова Божия, и 
                | также насладиться духовным пением и стихами. Просим связаться 
                | с главным пастором если у вас есть какое-то участие.
    //- End Venue Section
  //- ======= Contact Section =======
  section#contact.section-bg
    .container
      .section-header
        h2 ИНФОРМАЦИЯ
        p Information
      .row.contact-info
        .col-md-4
          .contact-address
            i.bi.bi-geo-alt
            h3 Address
            address 310 S Lemon St, Anaheim, CA 92805
        .col-md-4
          .contact-phone
            i.bi.bi-phone
            h3 Phone Number
            p
              a(href='tel:+ (949) 354-3733') +1 (714) 535-2550
        .col-md-4
          .contact-email
            i.bi.bi-envelope
            h3 Email
            p
              a(href='mailto:rusevchurch@gmail.com') admin@betheloc.com

  //- End Contact Section
//- End #main
//- ======= Footer =======
footer#footer
  .footer-top
    .container
      .row
        .col-lg-2.col-md-6.footer-links
        .col-lg-3.col-md-6.footer-info
          img(loading='lazy' src='assets/img/logo.png' alt='TheEvenet')
          p
            | Добро пожаловать на наше воскресное служение где вы можете 
            | услышать чтение и толкование из слова Божия, и также насладиться 
            | духовным пением и стихами. Просим связаться с главным пастором 
            | если у вас есть какое-то участие.
        .col-lg-2.col-md-6.footer-links
        .col-lg-3.col-md-6.footer-contact
          h4 Contact Us
          p
            | 310 S Lemon Street 
            br
            | Anaheim, CA 92805
            br
            | United States 
            br
          p
            | Mailing Address 
            br
            | PO Box 789 Anaheim, CA, 92815 
            br
          p
            strong Phone:
            |  +1 (714) 535-2550
            br
            strong Email:
            |  admin@betheloc.com
            br
          .social-links
            a.instagram( target="_blank" href="https://www.instagram.com/bethel_anaheim/")
              i.bi.bi-instagram
            a.youtube( target="_blank" href="https://www.youtube.com/channel/UC9UjJfbJS9j36CKKVozeyJQ")
              i.bi.bi-youtube
            a.facebook( target="_blank" href='https://www.facebook.com/BethelOfAnaheim/')
              i.bi.bi-facebook
  .container
    .copyright
      | &copy; Copyright 
      strong Bethel Baptist Church of Orange County
      | . All Rights Reserved
//- End  Footer
a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
  i.bi.bi-arrow-up-short

script(src="assets/js/main.js")
//- Vendor JS Files
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous")

<!-- Template Main JS File -->
